.header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 40px;
  padding-block: 20px;

  img {
    width: 150px;
  }

  div {
    // border: 1px solid red;
    width: 100%;
    margin-left: 40px;

    a {
      color: white;
      text-decoration: none;
      padding-inline: 25px;
    }
  }

  #icon {
    font-size: 30px;
    color: white;
    cursor: pointer;

    &:hover {
      color: gray;
    }
  }
}
