.banner {
  height: 400px;
  background-color: black;
}

.row {
  background-color: black;
  color: white;
  padding: 1rem;
  > h2 {
    margin: 0.3rem;
    font-weight: 400;
  }
  > div {
    display: flex;
    overflow-x: auto;
    column-gap: 10px;
  }
}

.card {
  width: 200px;

  cursor: pointer;
  transition: transform 0.5s;

  &:hover {
    transform: translateY(-10px) scale(1.05);
  }
}
